.profileimg {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.background {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

body {
  padding-top: 0px;
}

@media screen and (max-width: 780px) {

  .carousel-item {
    height: 300px;
  }

  .carousel-caption {
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .carousel-item {
    width: 100%;
  }

  .carousel-caption h4 {
    font-size: 12px;
  }

  .carousel-caption h5 {
    font-size: 10px;
  }

  .carousel-caption p {
    font-size: 8px;
  }

  .profileimg {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
}

/* -- Quick Access Index Content */

.tinted-image {
  min-height: 150px;
  max-height: 200px;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  filter: brightness(80%);

  text-decoration: none;

  margin-bottom: 2%;

  text-shadow:
    -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

#quick-access-image1 {
  border-radius: 10px;
  background-image: url('../images/projects-images/tintedimg1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  margin-right: auto;
  margin-left: auto;
}

#quick-access-image2 {
  border-radius: 10px;
  background-image: url('../images/projects-images/tintedimg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  margin-right: auto;
  margin-left: auto;
}

.quick-link {
  text-decoration: none;
  color: white;
}

#quick-access-image1:hover {
  filter: blur(1px);
}

#quick-access-image2:hover {
  filter: blur(1px);
}

/* -- Text Box Styling */
.info-box {
  padding-left: 2.5%;
  padding-right: 2.5%;

  padding-top: 1%;
  padding-bottom: 1%;

  border-radius: 10px;
}


.row2 {
  margin-top: 25px;
}

.ro4 {
  margin-left: 20px;
  margin-right: 20px;
}

.row4 .col {
  margin-left: 2%;
  margin-right: 2%;
  background-color: #E0E0E0;
}

.row5 {
  margin-top: 25px;
  margin-left: 20px;
}

.row7 {
  margin-top: 25px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.faq-item {
  margin-left: 35px;
}

.faq-question {
  font-size: 18px;
}

.faq-item {
  margin-bottom: 10px;
}

.faq-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrow {
  user-select: none;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.faq-question {
  margin: 0;
}

.faq-answer {
  display: block;
  /* Answers are visible initially */
  padding: 10px;
  margin: 2%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 18px;
}